:root {
  --red: #FF4949;
  --black: #2E2E2E;
  --yellow: #ffc600;
  --white: #fff;
  --grey: #efefef;
  --sky: #d4eef8;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--black);
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  align-items: flex-start;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.479);
}

footer a {
  color: var(--sky);
  text-decoration-color: white;
  /* Chrome renders this weird with this font, so we turn it off */
  text-decoration-skip-ink: none;
  cursor: pointer;
}

footer p {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

footer span {
  margin-left: 20px;
  /* position: relative; */
}

footer span a {
  position: relative;
  top: 5px;
}